<div >
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"
                       aria-label="Settings">
                <i class="material-icons">beenhere</i>
            </md-button>
            <h3>Rules</h3>
            <span flex></span>
           
        </div>
    </md-toolbar>	
  
    <md-content>
        <ol type="number" style="list-style-type:circle" class="list-group">
            <li class="list-group-item list-group-item-warning"></li>
            <li class="list-group-item list-group-item-success"><label>1. Please contact given number or office address on <a href="#/contact"> Contact Us</a> page for registaration.</label> </li>
            <li class="list-group-item list-group-item-warning"><label>2. You can also visit given address for registartion.</label></li>
            <li class="list-group-item list-group-item-success"><label>3. For registration you need your Biodata and Photo ready.</label></li>
            <li class="list-group-item list-group-item-warning"><label>4. If you dont have Biodata and Photo you need to email that to given email id.</label></li>
            <li class="list-group-item list-group-item-success"><label>5. For any Enquiry or any candidate contact details, Please visit registartion office. </label> </li>

        </ol>
    </md-content>
          
</div>