    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"
                       aria-label="Settings"
                      >
                <i class="material-icons">school</i>
            </md-button>

            <h3>Education Details</h3>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-content layout-padding>

        <div layout-lg="row">

            <md-input-container class="md-block">

            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Qualification Type</label>
                <md-select ng-model="eduDetails.QualificationType">
                    <md-option ng-repeat="qualificationType in qualificationTypes" value="{{qualificationType}}">
                        {{qualificationType}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Qualification</label>
                <input ng-model="eduDetails.Qualification">
            </md-input-container>


        </div>

        <div layout-lg="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Occupation/Job</label>
                <input ng-model="eduDetails.Occupation">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>OccupationJob (City/State/Contry)</label>
                <input ng-model="eduDetails.OccupationCityCountry">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Salary (Monthly Income)</label>
                <input ng-model="eduDetails.Salary">
            </md-input-container>
        </div>
    </md-content>

<div layout-lg="row">
    <span flex></span>
    <md-button ng-disabled="disableAddButton" class="md-raised md-primary" ng-click="addEducationDetails()">Save </md-button>
</div>
